@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.purple {
    color: #6415FF;
}

#landing {
    min-height: 100vh;
}

header {
    height: calc(100vh - 80px);
}

/* NAVIGATOR */

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 24px;
}

.nav__link--anchor {
    color: #243E63;
    font-size: 14px;
    font-weight: bold;
}

.nav__link .nav__link--anchor:hover {
    color: #6415ff;
    text-decoration: underline #6415ff;    
    text-underline-offset: 10px;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 12px;
}

.nav__logo--link {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-weight: bold;   
    font-size: 24px;
    color: #243E63;
}

.nav__logo--link:hover {
    color: #6415ff;
}

.nav__link--signup {
    border-radius: 9999px;
    padding: 12px 32px;
    margin: 0;
    background-color: #6415FF;
    font-weight: bold;
    color: #fff;
}

.nav__link--signup:hover {
    background-color: #5512d9;
}

/* HEADER*/

.header__description {
    display: flex;
    flex-direction: row;
    padding: 96px;
    width: 100%;
}

.header__leftside {
    width: 40%;
}

.header__lefside--para {
    margin: 32px 0;
}

.header__mail-registration--input {
    display: flex;
    position: relative;
    display: inline-block;
}

.header__input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 99px;
    font-weight: 500;
    border: 2px solid gray;
    opacity: 0.5;    
    transition: all 300ms ease;
}

.header__input:hover {
    opacity: 1;
    color: gray;
}

.btn__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    background-color: #6415FF;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    border-radius: 9999px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    width: 160px;
}

.btn__header:hover {
    background-color: #3c0d99;
    cursor: pointer;
}

.header__lefside-down--container {
    margin: 80px 0 0;
}

.header__description-customer--para {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__leftside--illustration {
    width: 100%;
    height: 27px;
    margin: 16px 0 0;
    padding: 0 64px 0 0;
    opacity: 0.5;
}

.header__rightside {
    width: 60%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.header__title--description {
    font-size: 36px;
    font-weight: 700;
}

.header__rightside--figure {
    display: flex;
    justify-content: flex-end;
}

.header__rightside--illustration {
    width: 100%;
    max-width: 512px;
}

/* FEATURES*/

.container {
    padding: 80px 0;
    margin: 0 33px;
}

.feature__title--description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.feature__first-title--description {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 16px;
}

.feature__second-title--description {
    font-size: 48px;
    font-weight: 900;
}

.features__para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
}

.service {
    display: flex;
    width: calc(100%/4);
    margin: 0 16px;
    padding: 32px 8px;
    text-align: left;
}

.service__img {
    padding: 20px;
    border: 2px solid #e5e7eb;
    border-radius: 99px;
    text-align: center;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__title--description {
    color: #243E63;
    font-size: 24px;
    font-weight: 700;
}

.service__para--description {
    font-size: 16px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 2;
}